<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>crontimes</servlet-name>
        <servlet-class>cz.docta.bookingtimes.CronTimesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crongarbage</servlet-name>
        <servlet-class>cz.docta.bookingtimes.CronGarbageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>cz.docta.bookingtimes.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>holidaydeletion</servlet-name>
        <servlet-class>cz.docta.bookingtimes.DeleteHolidayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>holidayaddition</servlet-name>
        <servlet-class>cz.docta.bookingtimes.AddHolidayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>infochanged</servlet-name>
        <servlet-class>cz.docta.bookingtimes.InfoChangedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crontimes</servlet-name>
        <url-pattern>/cron/generate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crongarbage</servlet-name>
        <url-pattern>/cron/clean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration/generate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>holidaydeletion</servlet-name>
        <url-pattern>/holiday/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>holidayaddition</servlet-name>
        <url-pattern>/holiday/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>infochanged</servlet-name>
        <url-pattern>/info/changed</url-pattern>
    </servlet-mapping>
</web-app>
